playwright~=1.52.0
beautifulsoup4~=4.13.4
shapely~=2.1.1
pyproj~=3.7.1
ua-parser~=1.0.1
timezonefinder~=6.5.9
httpagentparser~=1.9.5
camoufox~=0.4.11
camoufox[geoip]
patchright~=1.52.5
httpx~=0.28.1
aiofiles~=24.1.0
yara-python~=4.5.4
pyvirtualdisplay